<div *ngIf="weatherinfo != 404">
  <h1>San Jose, CA</h1>
  <h3>Humidity: {{weatherinfo?.main.humidity}}</h3>
  <h3>Temperature(average): {{(weatherinfo?.main.temp -273.15) * 9.0 / 5.0 + 32 | number : '1.2-2'}}</h3>
  <h3>Temperature(high): {{(weatherinfo?.main.temp_min -273.15) * 9.0 / 5.0 + 32}}</h3>
  <h3>Temperature(low): {{(weatherinfo?.main.temp_max -273.15) * 9.0 / 5.0 + 32}}</h3>
  <h3>Status: {{weatherinfo?.weather[0].description}}</h3>

  <img src="https://i.ytimg.com/vi/car6ehhepxw/maxresdefault.jpg">
</div>

<div *ngIf="weatherinfo == 404">
  <p>This city is not existed</p>
</div>